@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul[class], ol[class] {
  list-style: none;
}

ol {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/*--------------------*/
:root {
  --header-height: 6.25rem;
  --hue-color: 50;
  --first-color: hsl(var(--hue-color), 100%, 45%);
  --first-color-alt: hsl(var(--hue-color), 100%, 35%);
  --first-color-light: hsl(var(--hue-color), 99%. 60%);
  --input-color-bg: hsl(0, 0%, 90%);
  --input-color-text: hsla(0, 0%, 20%, .5);
  --body-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-alt: hsl(0, 0%, 20%);
  --text-color-light: hsla(0, 0%, 100%, .9);
  --title-color: hsl(0, 0%, 0%);
  --line-color: hsla(0, 0%, 100%, .2);
  --border-color: hsla(0, 0%, 100%, .5);
  --bg-fill-color: hsla(0, 0%, 0%, .6);
  --footer-color: hsla(0, 0%, 0%, .9);
  --z-bg: -1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Yeseva One', cursive;
  --h1-font-size: 70px;
  --h2-font-size: 1.625rem;
  --large-font-size: 1.125rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  --font-bold: 700;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

section {
  overflow: hidden;
}

h1, h2 {
  font-family: var(--title-font);
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

.line {
  height: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  width: 60px;
  height: 5px;
  background-color: var(--first-color);
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
}

.button {
  height: 3.75rem;
  width: 12.5rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: var(--small-font-size);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.button_color {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.button_alt {
  border-color: var(--border-color);
  background-color: Transparent;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  height: var(--header-height);
}

.nav {
  height: 100%;
}

.nav__menu {
  height: 100%;
}

.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  height: 150px;
  width: 150px;
  background-image: url(../img/logo.svg);
  margin-top: 50%;
}

.nav__link, .button {
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--text-color-light);
}

.home {
  position: relative;
  color: var(--text-color-light);
  overflow: hidden;
}

.home__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: var(--header-height);
  height: 1000px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__opening-hours {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  position: relative;
  font-size: var(--small-font-size);
  letter-spacing: .1rem;
}

.home__opening-hours div {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -webkit-calc(var(--header-height) + 4.5rem);
  margin-top: calc(var(--header-height) + 4.5rem);
  min-width: 24rem;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.home__opening-hours_hours {
  margin-left: 4.4375rem;
}

.home__data {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 5%;
}

.home__buttons {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
}

.home__arrow {
  margin: 0 auto;
}

.home__social {
  height: 30%;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  margin-left: auto;
}

.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
  margin-bottom: 1.25rem;
}

.social {
  position: relative;
}

.social__list {
  position: absolute;
  right: 0;
}

.social__link-facebook {
  background: url("../img/icons/facebook.svg") center no-repeat;
}

.social__link-twitter {
  background: url("../img/icons/twitter.svg") center no-repeat;
}

.social__link-instagram {
  background: url("../img/icons/instagram.svg") center no-repeat;
}

.home__arrow-link,
.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.home__arrow-link {
  background: url("../img/icons/down-btn.svg") center no-repeat;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-bg);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-bg img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  display: block;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.content__info {
  max-width: 640px;
  text-align: center;
  margin: auto 0;
  padding: 0 20px;
}

.content__title {
  font-weight: var(--font-bold);
}

.content__images {
  position: relative;
  width: 600px;
}

.content__img-square {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: var(--z-tooltip);
}

.content__img-square svg {
  stroke: var(--first-color);
}

.content__form .button {
  width: 100%;
}

.reverse {
  width: 100%;
  position: relative;
}

.reverse span {
  display: block;
  position: absolute;
  height: 1rem;
  width: 6.25rem;
  top: 2rem;
  left: -webkit-calc(50% - 3.175rem);
  left: calc(50% - 3.175rem);
  text-transform: uppercase;
  color: var(--text-color-light);
}

.reverse .home__img-bg {
  width: 100%;
}

.reverse .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: var(--text-color-light);
}

.reverse .content__img-square {
  left: 0;
}

.reverse img {
  margin-left: auto;
  margin-left: auto;
}

.form__title {
  margin-bottom: .7rem;
}

.form__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column {
  margin: 0 5px 0 0;
}

.form__column:last-child {
  margin: 0 0 0 5px;
}

.form__input, .form__select {
  margin-bottom: 10px;
}

input, select {
  padding: 1.25rem;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: var(--input-color-text);
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: var(--input-color-text);
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: var(--input-color-text);
}

input::placeholder, select::placeholder {
  color: var(--input-color-text);
}

.input-item,
.select-item {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: var(--body-font);
  height: 3.75rem;
  width: 17.3125rem;
  background-color: var(--input-color-bg);
  color: var(--input-color-text);
}

.booking {
  position: relative;
}

.booking__info {
  color: var(--text-color);
  opacity: .5;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.booking__info span {
  font-weight: var(--font-bold);
}
