@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul[class], ol[class] {
  list-style: none;
}

ol {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/*--------------------*/
:root {
  --header-height: 6.25rem;
  --hue-color: 50;
  --first-color: hsl(var(--hue-color), 100%, 45%);
  --first-color-alt: hsl(var(--hue-color), 100%, 35%);
  --first-color-light: hsl(var(--hue-color), 99%. 60%);
  --input-color-bg: hsl(0, 0%, 90%);
  --input-color-text: hsla(0, 0%, 20%, .5);
  --body-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-alt: hsl(0, 0%, 20%);
  --text-color-light: hsla(0, 0%, 100%, .9);
  --title-color: hsl(0, 0%, 0%);
  --line-color: hsla(0, 0%, 100%, .2);
  --border-color: hsla(0, 0%, 100%, .5);
  --bg-fill-color: hsla(0, 0%, 0%, .6);
  --footer-color: hsla(0, 0%, 0%, .9);
  --header-text-color: hsl(0, 0%, 0%);
  --z-bg: -1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Yeseva One', cursive;
  --h1-font-size: 70px;
  --h2-font-size: 2.3rem;
  --large-font-size: 1.125rem;
  --normal-font-size: .875rem;
  --small-font-size: .75rem;
  --smallest-font-size: 0.5625rem;
  --font-bold: 700;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

section {
  overflow: hidden;
}

h1, h2 {
  font-family: var(--title-font);
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

.line {
  height: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  width: 60px;
  height: 5px;
  background-color: var(--first-color);
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
}

body.dark-theme {
  --first-color: hsl(var(--hue-color), 100%, 40%);
  --body-color: rgb(19, 18, 17);
  --text-color: rgb(204, 204, 204);
  --title-color: rgb(204, 204, 204);
  --input-color-text: grey;
}

body.dark-theme .table__tabs-item {
  border-color: grey;
}

.button {
  display: inline-block;
  height: 3.75rem;
  width: 12.5rem;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: var(--small-font-size);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.button_color {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.button_color:hover {
  color: var(--text-color);
}

.button_alt {
  border-color: var(--border-color);
  background-color: Transparent;
}

.button_alt:hover {
  color: var(--first-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  height: var(--header-height);
}

.nav {
  height: 100%;
  font-size: var(--small-font-size);
}

.nav__menu {
  height: 100%;
}

.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  min-width: 6rem;
}

.nav__logo {
  height: 150px;
  width: 150px;
  background-image: url(../img/logo.svg);
  margin-top: 50%;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__change-theme {
  text-align: center;
}

.change-theme {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid var(--text-color-light);
  display: none;
}

.change-theme:hover {
  border-color: var(--header-text-color);
}

.theme-button_dark {
  background-image: url(../img/icons/moon-white.svg);
}

.theme-button_light {
  background-image: url(../img/icons/sun-white.svg);
}

.nav__link, .button {
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--text-color-light);
}

.active-link {
  position: relative;
}

.active-link:hover {
  color: var(--first-color);
}

.active-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 3px;
  background-color: var(--text-color-light);
  -webkit-border-radius: 1.5px;
          border-radius: 1.5px;
}

.home {
  position: relative;
  color: var(--text-color-light);
  overflow: hidden;
}

.home__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: var(--header-height);
  height: 1000px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__opening-hours {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  position: relative;
  font-size: var(--small-font-size);
  letter-spacing: .1rem;
}

.home__opening-hours div {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -webkit-calc(var(--header-height) + 4.5rem);
  margin-top: calc(var(--header-height) + 4.5rem);
  min-width: 24rem;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.home__opening-hours_hours {
  margin-left: 4.4375rem;
}

.home__data {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 5%;
}

.home__buttons {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
}

.home__arrow {
  margin: 0 auto;
}

.home__social {
  height: 30%;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  margin-left: auto;
}

.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
  margin-bottom: 1.25rem;
}

.social {
  position: relative;
}

.social__list {
  position: absolute;
  right: 0;
}

.social__link-facebook {
  background: url("../img/icons/facebook.svg") center no-repeat;
}

.social__link-twitter {
  background: url("../img/icons/twitter.svg") center no-repeat;
}

.social__link-instagram {
  background: url("../img/icons/instagram.svg") center no-repeat;
}

.home__arrow-link,
.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.home__arrow-link:hover,
.social__link-facebook:hover,
.social__link-twitter:hover,
.social__link-instagram:hover {
  border-color: var(--first-color);
}

.home__arrow-link {
  background: url("../img/icons/down-btn.svg") center no-repeat;
}

.img-bg {
  background-color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-bg);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-bg img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  display: block;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.content__info {
  max-width: 640px;
  text-align: center;
  margin: auto 0;
  padding: 0 3.2rem 0 .6rem;
}

.content__title {
  margin-top: .6rem;
  margin-bottom: 1.2rem;
  font-weight: var(--font-bold);
  font-size: large;
}

.content__text {
  font-size: var(--normal-font-size);
  line-height: 1.5rem;
}

.content__images {
  position: relative;
  width: 600px;
}

.content__img img {
  max-width: 80%;
}

.content__img-square {
  position: absolute;
  top: 24%;
  right: 0;
  z-index: var(--z-tooltip);
}

.content__img-square svg {
  stroke: var(--first-color);
}

.content__form .button {
  width: 100%;
}

.content__h2,
.content .line {
  padding-left: 3.3rem;
}

.reverse {
  width: 100%;
  position: relative;
}

.section-title {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  top: 7.5%;
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  letter-spacing: .4rem;
}

.reverse .home__img-bg {
  width: 100%;
}

.reverse .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: var(--text-color-light);
}

.reverse .content .line {
  padding-left: 0;
  padding-right: 3.3rem;
}

.reverse .content__info {
  padding: 0 .6rem 0 3.2rem;
}

.reverse .content__images {
  max-width: 588px;
}

.reverse .content__img-square {
  left: 0;
}

.reverse img {
  margin-left: auto;
}

.form__title {
  margin-bottom: .7rem;
}

.form__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column {
  margin: 0 5px 0 0;
}

.form__column:last-child {
  margin: 0 0 0 5px;
}

.form__input,
.select {
  margin-bottom: 10px;
}

input, select {
  padding: 1.25rem;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: var(--input-color-text);
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
  color: var(--input-color-text);
}

input::-ms-input-placeholder, select::-ms-input-placeholder {
  color: var(--input-color-text);
}

input::placeholder, select::placeholder {
  color: var(--input-color-text);
}

.input-item,
.select,
.select__item {
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  font-family: var(--body-font);
  height: 3.75rem;
  width: 17.3125rem;
  background-color: var(--input-color-bg);
  color: var(--input-color-text);
}

.input-item:hover {
  border: 1px solid var(--first-color);
}

.select:hover {
  border: 1px solid var(--first-color);
}

.select__item {
  width: 16.3rem;
  background-color: transparent;
  margin-right: .7rem;
  margin-left: -0.8rem;
}

.booking {
  position: relative;
}

.booking__info,
.events__info {
  color: var(--text-color);
  opacity: .5;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.booking__info span,
.events__info span {
  font-weight: var(--font-bold);
}

.menu {
  text-align: center;
}

.menu__container {
  padding: 100px 0;
}

.menu__title {
  max-width: 34.375rem;
  margin: 0 auto;
}

.menu__subtitle {
  margin-top: .5rem;
  font-weight: var(--font-bold);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 40px;
}

.swiper-horizontal > .swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 10px;
  opacity: 1;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: var(--border-color);
}

.swiper-pagination-bullet:hover {
  background-color: var(--first-color);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.table__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 52.5rem;
  height: 3.125rem;
  width: 100%;
  margin: 3rem auto;
}

.table__tabs-item {
  cursor: pointer;
  float: left;
  height: 100%;
  width: 7.5rem;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

.table__tabs-item:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.table__tabs-link {
  padding-top: 1rem;
  color: var(--text-color);
  display: inline-block;
  height: 100%;
  width: 100%;
}

.table__tabs-link:hover {
  color: var(--first-color);
}

.table__container {
  min-height: 32.8125rem;
  overflow-x: auto;
}

.table__content {
  position: absolute;
  left: -100%;
  opacity: 0;
}

.table__content_active {
  position: static;
  opacity: 1;
}

table {
  width: 80rem;
  text-align: left;
}

tr {
  font-family: var(--title-font);
  font-size: var(--normal-font-size);
}

tr:nth-child(even) {
  color: var(--input-color-text);
  font-size: var(--smallest-font-size);
  height: 3rem;
  vertical-align: top;
}

tr .price {
  padding-left: .9rem;
  vertical-align: top;
}

tr .price:not(:last-child) {
  padding-right: 3rem;
}

td {
  overflow: hidden;
  white-space: nowrap;
  max-width: 13.25rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.events {
  position: relative;
}

.events span {
  text-transform: uppercase;
  color: var(--text-color-light);
}

.events__info {
  color: var(--text-color-light);
  opacity: .5;
  width: 100%;
}

.content {
  text-align: left;
}

.content__img {
  position: relative;
}

.content__img-cover {
  position: absolute;
  background-color: black;
  top: 0;
  width: 5rem;
  height: 100%;
  color: var(--text-color-light);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

.content__img-cover div {
  position: absolute;
  bottom: -2rem;
  left: 0;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  min-width: 25rem;
  padding: 1.5rem 0 0 0;
}

.content__images_left img {
  margin-left: auto;
}

.content__images_left .content__img-cover {
  right: 0;
}

.content__images_left .content__img-cover div {
  top: 0;
  margin-left: 5.2rem;
  margin-top: 1.5rem;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content__images_left .content__img-square {
  left: 0;
}

.gallery .swiper-slide {
  max-height: 360px;
  max-width: 360px;
}

.contact {
  margin: 0 auto;
  text-align: center;
}

.contact__container {
  padding: 100px 0;
}

.contact__title {
  font-weight: var(--font-bold);
  font-size: var(--large-font-size);
  max-width: 34.69rem;
  margin: 1rem auto 2rem;
}

.contact .form__input,
.contact .input-item {
  width: 100%;
}

.contact .form__input:not(:last-child) {
  margin-right: 0.625rem;
}

.contact__button {
  width: 50%;
}

.contact__icon {
  width: 33%;
}

.form__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__message {
  min-height: 7.5rem;
  min-width: 100%;
  max-width: 100%;
  max-height: 12.5rem;
  padding: 1.25rem;
}

.form__message::-webkit-input-placeholder {
  color: var(--input-color-text);
}

.form__message:-ms-input-placeholder {
  color: var(--input-color-text);
}

.form__message::-ms-input-placeholder {
  color: var(--input-color-text);
}

.form__message::placeholder {
  color: var(--input-color-text);
}

.form__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--small-font-size);
  color: var(--input-color-text);
  width: 50%;
  padding-right: .5rem;
}

.form__link {
  background-repeat: no-repeat;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  text-align: left;
  padding-left: 2rem;
}

.form__link:nth-child(1) {
  background-image: url(../img/icons/map-pin-2-fill.svg);
}

.form__link:nth-child(2) {
  background-image: url(../img/icons/phone-fill.svg);
}

.form__link:nth-child(3) {
  background-image: url(../img/icons/mail-fill.svg);
}

.footer {
  background-color: #1A1A1A;
  width: 100%;
  height: 100px;
  color: var(--border-color);
  font-size: var(--small-font-size);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  width: 100%;
}

.footer__text span {
  font-weight: var(--font-bold);
}

.scroll-header {
  background-color: var(--first-color);
  position: fixed;
}

.scroll-header .nav__link:hover {
  color: var(--text-color);
}

.scroll-header .nav__logo {
  display: none;
}

.scroll-header .change-theme {
  display: inline-block;
}

.scrollup {
  color: var(--first-color);
  display: block;
  background-image: url(../img/icons/up-btn.svg);
  position: fixed;
  right: 5%;
  bottom: -50%;
  width: 3.75rem;
  height: 3.75rem;
  z-index: var(--z-fixed);
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.scrollup:hover {
  border: 1px solid var(--first-color);
}

.show-scroll {
  bottom: 5%;
}

@media screen and (min-width: 2500px) {
  .home {
    height: 100vh;
  }
  .home__container {
    height: 100%;
  }
}

@media screen and (max-width: 1300px) {
  section {
    padding: 0 12px;
  }
}
