@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

@mixin flexbox() {display: -webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size: 0;}


//========== FONTS ===========
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


//========== VARIABLES ===========
:root {
   --header-height: 6.25rem;

      // ========== HSL color mode ===========
   // Mustard: 50, Bronze: 35, Cherry: 352;
   --hue-color: 50;
   --first-color: hsl(var(--hue-color), 100%, 45%);
   --first-color-alt: hsl(var(--hue-color), 100%, 35%);
   --first-color-light: hsl(var(--hue-color), 99%. 60%);
   --input-color-bg: hsl(0, 0%, 90%);
   --input-color-text: hsla(0, 0%, 20%, .5);
   --body-color: hsl(0, 0%, 100%);
   --text-color: hsl(0, 0%, 0%);
   --text-color-alt: hsl(0, 0%, 20%);
   --text-color-light: hsla(0, 0%, 100%, .9);
   --title-color: hsl(0, 0%, 0%);
   --line-color: hsla(0, 0%, 100%, .2);
   --border-color: hsla(0, 0%, 100%, .5);
   --bg-fill-color: hsla(0, 0%, 0%, .6);
   --footer-color: hsla(0, 0%, 0%, .9);
   --header-text-color: hsl(0, 0%, 0%);
   // ========== Z-index ==========
   --z-bg: -1;
   --z-tooltip: 10;
   --z-fixed: 100;

   // ========== Font ===========
   --body-font: 'Open Sans', sans-serif;
   --title-font: 'Yeseva One', cursive;
   --h1-font-size: 70px; //70px 4.375
   --h2-font-size: 2.3rem; //26px
   --large-font-size: 1.125rem; //18px
   --normal-font-size: .875rem; //14px
   --small-font-size: .75rem; //12px
   --smallest-font-size: 0.5625rem; //9px0:38 11.09.2021

   // ========== Font weight ===========
   --font-bold: 700;

   // =========== ANIMATION ==========
   --animation: 1s ease;
   }

// ========== BASE ==========

body {
   font-family: var(--body-font);
   background-color: var(--body-color);
   color: var(--text-color);
}
section {
   overflow: hidden;
}
picture{
   object-fit: cover;
}

h1, h2 {
   font-family: var(--title-font);
   text-transform: uppercase;
}
h1 {
   font-size: var(--h1-font-size);
}

h2 {
   font-size: var(--h2-font-size);
}

.line {
   height: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

hr {
   width: 60px;
   height: 5px;
   background-color: var(--first-color);
   border-radius: 2.5px;
}

//============ THEME =============
body.dark-theme{
   --first-color: hsl(var(--hue-color), 100%, 40%);
   --body-color: rgb(19, 18, 17);
   --text-color: rgb(204, 204, 204);
   --title-color: rgb(204, 204, 204);
   --input-color-text: grey;
   .table__tabs-item{
      border-color:grey;
   }
}



// =========== BUTTONS ===========
.button {
   display: inline-block;
   height: 3.75rem; //60px
   width: 12.5rem; //200px
   border-radius: 5px;
   font-size: var(--small-font-size);
   border-width: 1px;
   border-style: solid;
   cursor: pointer;
   &:focus-visible{
      outline: 1px solid var(--first-color);
      background-color: transparent;
   }


   &_color {
      background-color: var(--first-color);
      border-color: var(--first-color);
      &:hover{
         color: var(--text-color);
      }
   
   }

   &_alt {
      border-color: var(--border-color);
      background-color: Transparent;
      &:hover{
         color: var(--first-color);
      }
   
   }
}

.container {
   max-width: 1280px;
   margin: 0 auto;
}

      // ========== HEADER ===========
.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
   height: var(--header-height);
   // overflow: hidden;
}


.nav {
   height: 100%;
   font-size: var(--small-font-size);

   &__menu {
      height: 100%;
      
   }

   &__list {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      
   }

   &__item{
      min-width: 6rem;
      text-align: center;
      height: 3rem;
   }

   &__logo {
      height: 130px;
      width: 130px;
      background-image: url(../img/logo.svg);
   }


   &__link{
      position: relative;
      display: block;
      padding: 1rem 1rem 0 1rem;
      border-radius: 5px;
      width: 100%;
      height: 100%;

      &:hover{
         color: var(--first-color);
      }
      &:focus-visible{
         outline: 1px solid var(--text-color-light);
         background-color: transparent;
      }
   }

   &__change-theme {
      text-align: center;
   }

   &__toggle{
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      &-close{
         background-image: url(../img/icons/close-fill.svg);
         position: absolute;
         top: 1rem;
         right: 2rem;
         display: none;

      }
      &-open{
      margin: 1rem 1rem 0 auto;
      background-image: url(../img/icons/menu-line.svg);
      display: none;
      }
   }
}

.change-theme {
   width: 60px;
   height: 60px;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border-radius: 50%;
   border: 1px solid var(--text-color-light);
   display: none;
   &:hover{
      border-color: var(--header-text-color);
   }
}

.theme-button_dark{
   background-image: url(../img/icons/moon-white.svg);
}


.theme-button_light{
   background-image: url(../img/icons/sun-white.svg);
}


.nav__link, .button {
   font-family: var(--body-font);
   text-transform: uppercase;
   font-weight: var(--font-bold);
   color: var(--text-color-light);
}

.active-link {
   position: relative;
   &:hover{
      color: var(--first-color);
   }

   &::before{
      content: '';
      position: absolute;
      left: .5rem;
      bottom: .5rem;
      width: 5rem;
      height: 3px;
      background-color: var(--text-color-light);
      border-radius: 1.5px;   
   }
}

.anchor {
   display: block;
   position: relative;
   top: -99px;
   visibility: hidden;
}


      // ========== HOME SECTION ===========
.home {
   position: relative;
   color: var(--text-color-light);
   overflow: hidden;

   &__container {
      display: flex;
      justify-content: space-between;
      padding-top: var(--header-height);
      height: 100vh;
      align-items: center;
   }

         // ========== HOME LEFT ===========

   &__opening-hours {
      flex-basis: 20%;
      position: relative;
      font-size: var(--small-font-size);
      letter-spacing: .1rem;
         & div {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: calc(var(--header-height) + 4.5rem);
            min-width: 24rem;
            transform-origin: top left;
            transform: rotate(-90deg);
   }

         &_hours{
            margin-left: 4.4375rem;
         }
   }

         // ========== HOME MIDDLE ===========

   &__data {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      height: 90%;
      justify-content: space-between;
      text-align: center;
      padding-bottom: 5%;
   }

   &__buttons {
      flex-basis: 65%;
   }

   &__arrow {
      margin: 0 auto;
   }

   &__social {
      height: 30%;
      flex-basis: 20%;
      margin-left: auto;
   }
}

.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
   margin-bottom: 1.25rem;
   // &:focus-visible{
   //    outline: 1px solid var(--first-color);
   //    background-color: transparent;
   // }
}

         // ========== HOME SOCIAL ===========

.social {
   position: relative;

   &__list {
      position: absolute;
      right: 0;
   }

   &__link-facebook {
      background: url('../img/icons/facebook.svg') center no-repeat;
   }
   &__link-twitter {
      background: url('../img/icons/twitter.svg') center no-repeat;
   }
   &__link-instagram {
      background: url('../img/icons/instagram.svg') center no-repeat;
   }
}

         // ========== HOME LINKS ===========
.home__arrow-link,
.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
   display: block;
   width: 3.75rem;
   height: 3.75rem;
   border-width: 1px;
   border-color: var(--border-color);
   border-style: solid;
   border-radius: 50%;
   &:hover{
      border-color: var(--first-color);
   }
   &:focus-visible{
      outline: 1px solid var(--first-color);
      background-color: transparent;
   }
}

         // ========== HOME ARROW ===========

.home__arrow {
   opacity: 0;
   background: url('../img/icons/down-btn.svg') center no-repeat;
   transform: scale(.3, .3);
   transition-delay: 1.6s;
   transition-duration: .7s;
   &-link{
      border: none;
   }
}

// ========== HOME IMG BG ===========
.img-bg {
   background-color: #101010;
   position: absolute;
   top: 0;
   left: 0;
   z-index: var(--z-bg);
   overflow: hidden;
   height: 100%;
   width: 100%;
      & img { 
         filter: brightness(40%);
         display:block;
         object-fit: cover;
         height: 100%;
         width: 100%;
   }
}

.content {
   display: flex;
   justify-content: space-between;
   height: 100%;
   padding: 100px 0;

   &__info {
      max-width: 640px;
      text-align: center;
      padding: 0 3.2rem 0 .6rem;
      max-height: 24.62rem;
      overflow: auto;
            // margin-top: 106px;
      margin: auto;
      
   }

   &__title {
      margin-top: .6rem;
      margin-bottom: 1.2rem;
      font-weight: var(--font-bold);
      font-size: large;
   }

   &__text{
      font-size: var(--normal-font-size);
      line-height: 1.5rem;
   }

   &__images {
      position: relative;
      width: 600px;
   }

   &__img {
      text-align: left;
      & img {
         max-width: 81%;
      }
      &-square {
         position: absolute;
         top: 24%;
         right: 0;
         z-index: var(--z-tooltip);
         background-image: url(../img/square.svg);
         background-repeat: no-repeat;
         width: 250px;
         height: 250px;
      }

      &-cover{
         position: absolute;
         background-color: black;
         top: 0;
         width: 5rem;
         height: 100%;
         color: var(--text-color-light);
         font-size: 1.5rem;
         text-transform: uppercase;
         font-weight: var(--font-bold);
         & div {
            position: absolute;
            bottom: -2rem;
            left: 0;
            transform-origin: top left;
            transform: rotate(-90deg);
            min-width: 25rem;
            padding: 1.5rem 0 0 0;
         }
      }
   }
   &__images_right{
      margin-left: 1rem;
      z-index: 2;

   }

   &__images_left{
      margin-right: 1rem;
      z-index: 2;

      & img {
         margin-left: auto;
      }
      & .content__img-cover{
         right: 0;
         & div{
            top: 0;
            margin-left: 5.2rem;
            margin-top: 1.5rem;
            transform-origin: top left;
            transform: rotate(90deg);
         }
      }
      & .content__img-square{
         left: 0;
      }
   }
   &__form {
      & .button{
         width: 100%;
      }
   }
}

.about{
   & .content__h2{
      padding-left: 0.6rem;
   }
   & .content .line{
      padding-left: 1.3rem;
   }
}

.reverse {
   width: 100%;
   position: relative;
   & .content__img-square {
      left: 0;
   }
   & img {
      margin-left: auto;
   }
   & .home__img-bg{
      width: 100%;
   }
   & .content {
      &__h2{
         padding: 0;
      }
      
      flex-direction: row-reverse;
      color: var(--text-color-light);
   
      &__info{
         padding: 0 .6rem 0 3.2rem;
      }
      &__images{
         max-width: 600px;
      }
   }
}
.line-reverse{
   padding-left: 0;
   padding-right: 3.3rem;
}


.section-title {
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   position: absolute;
   top: 7.75%;
   text-transform: uppercase;
   color: var(--text-color-light);
   font-size: var(--small-font-size);
   letter-spacing: .4rem;
}


.team{
   & .content{
      &__info {
         padding: 0px 0rem 0 3.3em;
      }
      & .line{
         padding: 0 0 0 3px;
      }
      &__images{
         width: 588px;
      }
   }
   

   & hr{
      width: 63px;
   }
}


.form {
   &__title{
      margin-bottom: 1rem;
   }

   &__columns {
      display: flex;
      justify-content: space-between;
   }

   &__column {
      margin: 0 5px 0 0;
      width: 50%;
      &:last-child{
      margin: 0 0 0 5px;
      }
   }
}

.form__input,
.select {
   margin-bottom: 10px;
}
.form__input:last-child{
   margin-bottom: 8px;
}

input, select {
   padding: 1.31rem;
      &::placeholder {
      color: var(--input-color-text);
   }
}

.input-item,
.select,
.select__item{
   border-radius: 0.3125rem;
   font-family: var(--body-font);
   width: 100%;
   background-color: var(--input-color-bg);
   color: var(--input-color-text);
   &:focus-visible{
      color: var(--first-color);
      &::placeholder{
         color: var(--first-color);
      }
   }
}

.input-item{
   border: 1px transparent solid;
   &:hover{
      border-color: var(--first-color);
   } 
}

.select {
   &__item {
      width: 16.3rem;
      background-color: transparent;
      margin-right: .7rem;
      margin-left: -0.8rem;
   }
   &__wrapper{
      border: 1px transparent solid;
      border-radius: 0.3125rem;
      &:hover{
         border-color: var(--first-color);
      }
   }
}

.booking {

   position: relative;
   & .reverse .line{
      padding: 0;
   }

   & .content__info{
      margin-top: 56px;
      padding: 0px 2.6rem 0 1.6rem;
      width: 49.7%;
   }
   & .content{
      &__h2{
         padding: 0;
      }
      &__images{
         width: 588px;
      }
      &__img-square{
         top: 26.5%;
         width: 225px;
         height: 225px;
      }
   }
   & .select{
      &__item{
         padding-top: 1.2rem;
      }
   }
}

.booking__info,
.events__info {
   color: var(--text-color);
   opacity: .5;
   font-size: var(--small-font-size);
   & span {
      font-weight: var(--font-bold);
   }
   position: absolute;
   bottom: 6%;
   width: 100%;
   text-align: center;
}

.specialties{
   & .section-title{
      left: 50.3%;
   }
   & .reverse {
      & .content{
         &__info{
            padding: 0 0rem 0 4.3rem;
         }
         &__images{
            max-width: 600px;
         }
      }
      
   }
}

.line_slide{
   padding: 0;
}


// ============ SWIPER ==============
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: 40px;
}
.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet{
margin: 0 10px;
opacity: 1;
}
.swiper-pagination-bullet{
   height: 10px;
   width: 10px;
   background-color: var(--border-color);
}

.swiper-pagination-bullet-active {
   background-color: white;
}


//==============MENU================
.menu {
   text-align: center;
   &__container {
      padding: 95px 0 100px 0;
   }
   &__title {
      max-width: 34.375rem;
      margin: 0 auto ;
   }

   &__subtitle {
      margin-top: 1.1rem;
      font-weight: var(--font-bold);
      line-height: 1.8rem;
      font-size: 1.125rem;
   }
}
//=====================TABS=================
.table {

   &__tabs {
      display: flex;
      justify-content: space-between;
      max-width: 52.5rem;
      height: 3.125rem;
      width: 100%;
      margin: 3rem auto 3.1rem;
      &-item{
         cursor: pointer;
         float: left;
         height: 100%;
         width: 7.5rem;
         font-size: var(--small-font-size);
         font-family: var(--body-font);
         text-transform: uppercase;
         font-weight: var(--font-bold);
         &:not(:first-child){
            border-left: 1px solid hsla(0, 0%, 0%, .2);
         }
      }
      &-link{
         padding-top: 1.1rem;
         color: var(--text-color);
         display: inline-block;
         height: 100%;
         width: 100%;
         &:hover{
            color: var(--first-color);
         }
      }
   }

   &__content {
      position: absolute;
      opacity: 0;
      display: flex;
      justify-content: center;
      text-align: left;
      &_active {
         position: static;
         opacity: 1;
      }
   }

   &__column {
      margin-right: 6%;
      &:last-child{
         margin-right: 0;
      }
   }

   &__row {
      display: flex;
      justify-content: space-between;
      // &:not(:last-child){
         margin-bottom: 8.3%;
      // }
      &:last-child{
         margin-bottom: 0;
      }
   }

   &__text {
      font-family: var(--title-font);
      font-size: var(--normal-font-size);
      max-width: 275px;


      &_title,
      &_discription{
         display: -webkit-box;
         -webkit-line-clamp: 1;
         -webkit-box-orient: vertical;  
         overflow: hidden;
         }
      &_title {
         font-size: var(--large-font-size);
         line-height: 1.4rem;
      }

      &_discription {
         color: var(--input-color-text);
         font-size: var(--smallest-font-size);
      }
   }

   &__price {
      margin-left: 1rem;
      margin-right: 1px;
      min-width: 5.6rem;
      font-size: var(--large-font-size);
      font-family: var(--title-font);
   }

}


.events {
   position: relative;

   & .section-title {
   }
   
   & span{
      text-transform: uppercase;
      color: var(--text-color-light);
   }

   &__info {
      color: var(--text-color-light);
      opacity: .5;
      width: 100%;
   }
}

//===================Gallery ===============
.gallery{
}
// ================== SWIPER =============== 
// .gallery .swiper-slide {
//    max-height: 360px;
//    max-width: 360px;
//    & img{
//       width: 360px;
//       height: 360px;
//    }
// }

//============== CONTACT ==================

.contact {
   margin: 0 auto;
   text-align: center;

   &__container {
      padding: 95px 0 100px;
   }

   &__h2 {
   }

   &__title {
      font-weight: var(--font-bold);
      font-size: var(--large-font-size);
      max-width: 34.69rem;
      margin: 1.1rem auto 3.1rem;
   }

   &__form {
   }

   & .form__input,
   .input-item {
      width: 100%;
   }

   & .form__input{
      &:not(:last-child){
         margin-right: 0.625rem;
      }
   }

   &__button{
      width: 50%;
   }

   &__icon{
      width: 33%;
   }
}

.form {
   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__message{
      min-height: 7.5rem;
      min-width: 100%;
      max-width: 100%;
      max-height: 12.5rem;
      padding: 1.25rem;
      &::placeholder{
         color: var(--input-color-text);
      }
   }

   &__contacts {
      display: flex;
      justify-content: space-between;
      margin-top: .3rem;
   }

   &__links {
      display: flex;
      justify-content: space-between;
      font-size: var(--small-font-size);
      color: var(--input-color-text);
      width: 50%;
      padding-right: .5rem;
   }
   &__link {
      background-repeat: no-repeat;
      align-self: center;
      text-align: left;
      padding-left: 2rem;
      &:nth-child(1){
         background-image: url(../img/icons/map-pin-2-fill.svg);
         }
      &:nth-child(2){
         background-image: url(../img/icons/phone-fill.svg);
         }
      &:nth-child(3){
         background-image: url(../img/icons/mail-fill.svg);
         }
      }
}

.footer{
   background-color: #1A1A1A;
   width: 100%;
   height: 100px;
   color: var(--border-color);
   font-size: var(--small-font-size);
   display: flex;
   text-align: center;
   align-items: center;
   &__text {
      width: 100%;
      & span {
         font-weight: var(--font-bold);
      }
   }
}

.scroll-header {
   background-color: var(--first-color);
   position: fixed;
   & .nav__link:hover{
      color: var(--text-color);
   }
   & .nav__logo {
      display: none;
   }
   & .change-theme{
      display: inline-block;
   }
}

.scrollup {
   color: var(--first-color);
   display: block;
   background-image: url(../img/icons/up-btn.svg);
   position: fixed;
   right: 5%;
   bottom: -50%;
   width: 3.75rem;
   height: 3.75rem;
   z-index: var(--z-fixed);
   transition-duration: .5s;
   border-radius: 50%;
   &:hover{
      border: 1px solid var(--first-color);
   }
}

.show-scroll{
   bottom: 5%;
}

// =========== ANIMATIONS =============

.home-decor{
   z-index: 1  ;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   &__header{
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &-left{
         width: 45%;
         display: flex;
         overflow: hidden;
         &_left{
            width: 33.5%;
            border-bottom: 1px solid var(--line-color);
            transform: translate(-100%, 0);
            transition-duration: .5s;
         }
         &_right{
            width: 66.5%;
            border-bottom: 1px solid var(--line-color);
            transform: translate(100%, 0);
            transition-duration: .5s;
         }
      }
      &-right {
         width: 45%;
         display: flex;
         overflow: hidden;
         &_left{
            width: 66.5%;
            border-bottom: 1px solid var(--line-color);
            transform: translate(-100%, 0);
            transition-duration: .5s;
         }
         &_right{
            width: 33.5%;
            border-bottom: 1px solid var(--line-color);
            transform: translate(100%, 0);
            transition-duration: .5s;
         }
      }
   }
   &__main{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      &-middle {
         height: 100%;
         width: 70%;
         display: flex;
         border-left: 1px solid var(--line-color);
         border-right: 1px solid var(--line-color);
         transform: translate(0, -100%);
         transition-delay: .6s;
         transition-duration: .7s;
         &_left {
            width: calc(50% - 1px);
         }
         &_right {
            width: calc(50% + 1px);
            height: calc(10% + 50px);
            margin-top: auto;
            border-left: 1px solid var(--line-color);
            transform: translate(0, 100%);
            transition-delay: 1.1s;
            transition-duration: .7s;
            opacity: 0;
            
         }
      }
   }
}


.events-decor,
.team-decor,
.specialties-decor {
   z-index: 1  ;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   flex-direction: column;
   &__middle {
      width: 70%;
      height: 100%;
      border-right: 1px solid var(--line-color);
      border-left: 1px solid var(--line-color);
      margin: 0 auto;
      transform: translate(0, -100%);
      transition-duration: 1s;
   }

   &__left {
      height: 100%;
      width: calc(50% - 1px);
      border-right: 1px solid var(--line-color);
   }
}
.container {
}
.home-animation {
}

.animate{
   transform: translate(0, 0);
   transform: scale(1, 1);
   opacity: 1;
}


@media screen and (max-width: 1399.98px) {
   section,
   nav {
      padding: 0 12px;
   }
   .nav{
      &__logo{
         height: 100px;
         width: 100px;
      }
   }

}

@media (max-width: 1199.98px) {
   .home{
      &__data{
      flex-basis: auto;
      margin-left: auto;
      height: 100%;
      }
      &__buttons{
         flex-basis: auto;
         margin-top: auto;
         margin-bottom: 7%;
      }
   }

   .home-decor__main-middle_right{
      display: none;
   }

   .content{
      justify-content: center;
      &__info{
         padding: 0 1rem 0 0;
         margin: auto 0;
         width: 75%;
      }
      &__img-square{
         top: 28%;
         max-width: 160px;
         max-height: 160px;
      }
      &__images_left{
         & .content__img-square{
            left: 4%;
         }
      }
      &__images_right{
         & .content__img-square{
            right: 4%;
         }
      }
   }

   .booking{
      
      & .content__info{
         margin: auto 0;
      }
   }

   .form{
      &__links{
         width: 67%;
      }
      &__link{
         padding-left: 2.5rem;
      }
      &__column{
         width: 50%;
      }
   }

   .input-item, .select, .select__item {
      width: 100%;
   }
   
   .contact__button {
   width: 33%;
   }
}

@media (max-width: 991.98px) {
   h1{
      font-size: 3.375rem;
   }
   h2{
      font-size: 1.5rem;
   }

   .anchor{
      top: 0;
   }

   .header {
   }

   .home{
      &__container {
         padding-top: 5.69rem;
      }
      &__arrow{
         display: none;
      }


      &__opening-hours{
         position: absolute;
         top: 1rem;
         left: 1rem;
         & div{
            transform: rotate(0deg);
            margin: 0;
         }
      }

      &__social{
         height: 80%;
         flex-basis: auto;
      }
   }

   .nav{
      &__menu{
         height: 100vh;
         width: 150px;
         position: fixed;
         top: 0;
         right: -100%;
         background-color: var(--first-color);
         padding: 3.7rem 1rem 1rem 1rem;
         transition: .4s;
      }
      &__list{
         flex-direction: column;
         justify-content: space-around;
         &:not(:last-child){
            margin-bottom: .5rem;
         }

      }
      &__item{
         max-height: 4rem;
         height: 90%;
         & a{
            display: block;
            height: 2rem;
         }
      }

      &__link{
         padding: 0;
         &:hover{
            color: var(--text-color-light);
         }
      }

      &__logo{
         height: 50px;
         width: 50px;
         margin: auto;
         display: none;
      }

      &__toggle{
         &-open{
            display: block;
         }
      }

   }

   .home__arrow-link,
   .social__link-facebook,
   .social__link-twitter,
   .social__link-instagram {
      width: 2rem;
      height: 2rem;
   }


   .active-link:hover{
      color: var(--text-color-light);
   }

   .change-theme{
      display: inline-block;
      &:hover{
         border-color: var(--text-color-light);
         color: var(--text-color-light);
      }
   }

   .scroll-header {
      background-color: transparent;
      position: fixed;
      & .nav__link:hover{
         color: var(--text-color-light);
      }
   }
   
   .section-title{
      top: 1rem;
   }

   .content{
      padding: 2rem 0;
      &__info{
         // padding: 2rem 1rem 1rem;
         margin: 1rem 1rem 1rem;

         width: 65%;
         margin: 0;
         max-height: 315px;
      }
      &__form{
         height: 100%;
         justify-content: space-between;
      }
      &__h2{
         padding: 0;
      }
      & .line{
         padding: 0;
      }

      &__title{
         font-size: var(--normal-font-size);
      }
      
      &__images{
         width: 200px;
         height: 250px;
         margin: auto 0;
         // padding: 6% 0px 15%;
      }
      &__img{

         & img{
            max-width: 100%;
            // padding-right: 50px;
         }
         &-square{
            max-width: 100px;
            max-height: 100px;
            top: 150px;
            right: 50px;
         }
         &-cover{
            font-size: var(--large-font-size);
            width: 3rem;
            & div {
               min-width: 25rem;
               padding: .75rem 0 0 0;
            }
         }
      }
      &__images_left{
         width: 50%;

         & .content__img img {
            padding: 0 0 0 50px;
         }
         & .content__img-square{
            left: 0;
         }
         & .content__img-cover div{
            margin-left: 3.2rem;
            margin-top: .5rem;
               }
      }

      &__images_right{
         width: 50%;
         & .content__img-square{
            right: 0;
         }
      }
      
   }

   .reverse{
      & .content{
         &__info{
            padding: 0;
            margin: 1rem 1rem 1rem;
            max-height: 315px;
         }
         &__images{
            width: 200px;
            height: 250px;
            margin: auto 0;
         }
         &__img{
            & img{
               margin: 0;
               width: 100%;
            }
            &-square{
               left: inherit;
            }
         }

      }
   }

   .form{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title{
         margin: 1rem 0;
      }
      &__input{
         max-height: 100%;
      }
      &__column{
         max-width: 50%;
      }
      &__contacts{
         margin: .7rem 0;
      }
      &__links{
         width: 40%;
         flex-direction: column;
      }
      &__link{
         padding-left: 1.2rem;
         align-self: flex-start;
      }
   }
   .input-item,
   .select{
      width: 100%;
      height: 2.5rem;
      
   }
   .select{
      &__wrapper{
         padding-top: .4rem;
         height: 100%;
      }
      &__item{
         max-width: 100%;
         max-height: 100%;
         padding: 0 0 0 1.75rem;
      }
   }
   .booking__info,
   .events__info{
      bottom: .25rem;
      font-size: var(--normal-font-size);
   }

   .booking{
      & .content__info{
         padding: 0;
         margin: auto;
      }
      & .content__images{
         width: 200px;
         margin: auto;
      }
      & .content__img{
         &-square{
            top: 150px;

         }
      }

      & .select__item {
         padding-top: 0rem;
      }
   }

   .contact__button {
      width: 60%;
      }
   
   .menu__container,
   .contact__container{
      padding: 2rem 0;
   }

   .table{
      &__container{
         display: flex;
         justify-content: center;
      }
      &__content{
         flex-direction: column;
      }
      &__column{
         margin-right: 0;
      }
      &__tabs{
         margin: 1.5rem auto 1.5rem;
      }
      &__row{
         margin-bottom: .5rem;
         &:last-child{
            margin-bottom: .5rem;
         }
      }
      &__text{
         max-width: 100%;
         &_title{
            font-size: var(--normal-font-size);
         }
      }
      &__price{

      }
   }

   .scrollup{
      left: 5%;
   }

   .show-menu{
      right: 0;
      & .nav__toggle{
         display: block;
      }
   }

   .swiper-horizontal
   .swiper-pagination-bullets,
   .swiper-pagination-bullets
   .swiper-pagination-horizontal {
      bottom: 1rem;
      width: 31%;
   }

   .specialties {
      & .section-title{
         left: 6rem;
      }
      & .content{
         min-height: 335px;
         padding: 0;
         &__images{
            max-width: 200px;
            height: 250px;
         }
      }
   }
   .events{
      & .content__images{
         width: 300px;
         margin: 0 auto;
      }
      & .content__img{
         height: 100%;
      }
      &  .content__img img {
         padding: 0;
         height: 100%;
      }
      & .content__img-square{
         top: 75px;
      }
   }
   .gallery{
      margin: 0;
      border: none;
   }
}

@media (max-width: 575.98px) {
   h1{
      font-size: 1.625rem;
   }
   .button{
      height: 2.2rem;
      width: 8rem;
   }
   .nav{
      &__list{
         flex-direction: column;
         height: 100vh;
      }
   }
   .home{
      min-height: 100vh;
      min-height: -webkit-fill-availible;

      &__container{
         padding-top: 2.5rem;
      }
      &__opening-hours{
         display: none;
      }
      &__data{
         height: 100%;
         width: 100%;
         margin: 0;
      }
      &__social{
         position: absolute;
         right: 1rem;
         top: 34%;
      }
   }

   .home-decor{
      display: none;
   }

   .content{
      flex-direction: column;
      &__info{
         width: 100%;
         padding: 0;
      }
      &__h2{
      }
      &__images{
         width: 300px;
         height: 250px;
         margin: 1rem auto 0;
      }
      &__img{
         width: 250px;
         &-square{
            top: 28%;
            right: 0;
         }
      }
   }
   .reverse{
      & .content{
         flex-direction: column;
         &__info{
            margin: 0;
         }
         &__images{
            width: 250px;
            height: 250px;
            margin: 1rem auto 0;
         }
         &__img{
            margin-right: auto;
            width: 200px;
            &-square{
               top: 20%;
               right: 0;
            }
         }
         }
   }
   .about .content{
      &__h2{
         padding: 0;
      }
      & .line{
         padding: 0;

      }
   }

   .booking{
      & .content{
         &__info{
            margin: 0 auto 1rem;
            width: 100%;
         }
         &__images{
            width: 300px;
            height: 250px;
            margin: 0 auto;
         }
         &__img{
            &-square{
               top: 75px;
            }
         }
      }

      &__info{
         font-size: var(--smallest-font-size);
         padding: 0 2rem;
      }
   }

   .specialties{
      & .content{
         margin-top: 1.5rem;
         &__info{
         }
         &__images{
            max-width: 300px;
         }
         &__img{
            &-square{
            }
         }
      }
      & .section-title{
         left: auto;
         right: 1.5rem;
         top: auto;
         bottom: 11rem;
         transform-origin: top right;
         transform: rotate(-90deg);
      }
      & .swiper-horizontal .swiper-pagination-bullets,
      & .swiper-pagination-bullets .swiper-pagination-horizontal {
         right: 0;
         left: auto;
      }
   }

   .events{
      & .section-title {
         width: 100%;
         text-align: center;
         
      }
      & .content{
         flex-direction: column-reverse;
         &__img{
            width: 300px;
         }
      }
      & .content__images_right{
      }
      &__info{
         font-size: var(--smallest-font-size);
         width: 90%;
      }
   }


   .form{
      &__contacts{
         flex-direction: column-reverse;
      }
      &__links{
         width: 100%;

      }
   }
   .contact__button{
      width: 100%;
      margin-bottom: .3rem;

   }
}

@media screen and (min-width: 2500px) {
   .home{
      height: 100vh;
      &__container{
         height: 100%;
      }
   }
   .home-decor__header-left_left{
      width: 20%;
   }
   .home-decor__header-left_right{
      width: 80%;
   }
   .home-decor__header-right_left{
      width: 80%;
   }
   .home-decor__header-right_right{
      width: 20%;
   }
   .home-decor__main-middle{
      width: 82%;
   }

}

