@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

@mixin flexbox() {display: -webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size: 0;}



//========== FONTS ===========
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


//========== VARIABLES ===========
:root {
   --header-height: 6.25rem;

      // ========== HSL color mode ===========
   // Mustard: 50, Bronze: 35, Cherry: 352;
   --hue-color: 50;
   --first-color: hsl(var(--hue-color), 100%, 45%);
   --first-color-alt: hsl(var(--hue-color), 100%, 35%);
   --first-color-light: hsl(var(--hue-color), 99%. 60%);
   --input-color-bg: hsl(0, 0%, 90%);
   --input-color-text: hsla(0, 0%, 20%, .5);
   --body-color: hsl(0, 0%, 100%);
   --text-color: hsl(0, 0%, 0%);
   --text-color-alt: hsl(0, 0%, 20%);
   --text-color-light: hsla(0, 0%, 100%, .9);
   --title-color: hsl(0, 0%, 0%);
   --line-color: hsla(0, 0%, 100%, .2);
   --border-color: hsla(0, 0%, 100%, .5);
   --bg-fill-color: hsla(0, 0%, 0%, .6);
   --footer-color: hsla(0, 0%, 0%, .9);

      // ========== Z-index ==========
   --z-bg: -1;
   --z-tooltip: 10;
   --z-fixed: 100;

      // ========== Font ===========
   --body-font: 'Open Sans', sans-serif;
   --title-font: 'Yeseva One', cursive;
   --h1-font-size: 70px; //70px 4.375
   --h2-font-size: 1.625rem; //26px
   --large-font-size: 1.125rem; //18px
   --normal-font-size: .875rem; //14px
   --small-font-size: .75rem; //12px

      // ========== Font weight ===========
   --font-bold: 700;
   }



// ========== BASE ==========

body {
   font-family: var(--body-font);
   // font-size: var(--normal-font-size);
   background-color: var(--body-color);
   color: var(--text-color);
}

h1, h2 {
   font-family: var(--title-font);
   text-transform: uppercase;
}
h1 {
   font-size: var(--h1-font-size);
}

// =========== BUTTONS ===========
.button {
   // display: block;
   height: 3.75rem; //60px
   width: 12.5rem; //200px
   border-radius: 5px;
   // padding-top: 1.3rem;
   font-size: var(--small-font-size);
   border-width: 1px;
   border-style: solid;
   cursor: pointer;

   &_color {
      background-color: var(--first-color);
      border-color: var(--first-color);
   }

   &_alt {
      border-color: var(--border-color);
      background-color: Transparent;
   }
}

.container {
   max-width: 1280px;
   margin: 0 auto;
}

      // ========== HEADER ===========
.header {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--z-fixed);
   height: var(--header-height);
   

}

.nav {
   height: 100%;

   &__menu {
      height: 100%;
   }

   &__list {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
   }

   &__link {
   }

   &__logo {
      height: 150px;
      width: 150px;
      background-image: url(../img/logo.svg);
      margin-top: 50%;
   }
}

.nav__link, .button {
   font-family: var(--body-font);
   text-transform: uppercase;
   font-weight: var(--font-bold);
   color: white;
}

.active-link {
}

      // ========== HOME SECTION ===========
      .home {
   position: relative;
   color: white;
   // height: calc(100vh - var(--header-height));
   height: 100%;
   overflow: hidden;

   &__container {
      display: flex;
      justify-content: space-between;
      padding-top: var(--header-height);
      height: 100vh;
      align-items: center;
   }

         // ========== HOME LEFT ===========

   &__opening-hours {
      height: 10%;

      transform-origin: top left;
      transform: rotate(-90deg);
      display: flex;
      justify-content: space-between;
      position: relative;
      align-self: end;
      max-width: 20%;

         &_days {
            margin-left: 15vh;
            min-width: 30vh;

         }
         &_hours{
            min-width: 10vh;
         }
   }

         // ========== HOME MIDDLE ===========

   &__data {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      height: 90%;
      justify-content: space-between;
      text-align: center;
   }

   &__buttons {
      margin-bottom: 50vh;
      
   }

   &__social {
      height: 30%;
      flex-basis: 20%;
      margin-left: auto;
   }

   &__arrow {
      margin: 0 auto;
   }
}

         // ========== HOME IMG ===========
.img-bg {
   position: absolute;
   z-index: var(--z-bg);
   overflow: hidden;
   min-height: 100vh;
      & img { 
         filter: brightness(40%);
         display:block; 
   }
}

         // ========== HOME LINKS ===========
.home__arrow-link,
.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
   display: block;
   width: 3.75rem;
   height: 3.75rem;
   border-width: 1px;
   border-color: var(--border-color);
   border-style: solid;
   border-radius: 50%;
}

.social__link-facebook,
.social__link-twitter,
.social__link-instagram {
   margin-bottom: 1.25rem;
}

         // ========== HOME SOCIAL ===========

.social {
   position: relative;

   &__list {
      position: absolute;
      right: 0;
   }

   &__link-facebook {
      background: url('../img/icons/facebook.svg') center no-repeat;
   }
   &__link-twitter {
      background: url('../img/icons/twitter.svg') center no-repeat;
   }
   &__link-instagram {
      background: url('../img/icons/instagram.svg') center no-repeat;
}
}

         // ========== HOME ARROW ===========

.home__arrow-link {
   background: url('../img/icons/down-btn.svg') center no-repeat;
}







